.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  justify-content: space-around;
}

a {
  color: #ffffff;
}

.stock-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

.stock {
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  margin-bottom: 0.3em;
  border-radius: 0.5em;
  border: 0.5px solid gray;
}

.stock-image {
  height: 12vh;
}

.refresh-container {
  padding-top: 3em;
}

.tagline-container {
  background-color: #d2c6b2;
  padding-bottom: 2em;
  padding-top: 2em;
}

.features-container {
  background-color: #f2ed6f;
  padding-bottom: 2em;
  padding-top: 2em;
}

.visit-site {
  color: gray;
}

.hidden {
  display: none !important;
}

#installContainer {
  background-color: #f2ed6f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}
